{% extends '_layout/base.html' %}
{% load i18n %}
{% load bootstrap5 %}

{% block content %}
	<div class="row">
	<div class="col-lg-8">
		<h1>{{ server.name }}</h1>
	</div>
	<div class="col-lg-4 text-end">
		<div class="d-grid gap-2 d-md-block">
			<a class="btn btn-primary" href="{% url 'server-update' server.pk %}"><i class="bi bi-pencil"></i></a>
			<a class="btn btn-danger" href="{% url 'server-delete' server.pk %}"><i class="bi bi-trash"></i></a>
		</div>
	</div>
	</div>

	<div class="row mt-1">
		<div class="col-lg-5">
			<div class="card mb-4">
				<div class="card-header">
					{% trans "Server detail" %}
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<strong>{% trans 'ID' %}</strong>: {{ server.pk }}
						</li>
						<li class="list-group-item">
							<strong>{% trans 'Name' %}</strong>: {{ server.name }}
						</li>
						<li class="list-group-item">
							<strong>{% trans 'Port' %}</strong>: {{ server.port }}
						</li>
						<li class="list-group-item">
							<strong>{% trans 'Users' %}</strong>:
							{% for user in server.users.all %}
								<span class="badge bg-info text-dark">
								<i class="bi bi-person"></i>
									{{ user }}
								</span>
							{% endfor %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-header">
					{% trans "Devices" %}
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">{% trans 'Status' %}</th>
							<th scope="col">{% trans 'Name' %}</th>
							<th scope="col">{% trans 'Addresses' %}</th>
							<th scope="col">{% trans 'Port' %}</th>
							<th scope="col">{% trans 'Services' %}</th>
							<th scope="col">{% trans 'Actions' %}</th>
						</tr>
						</thead>
						<tbody>
						{% for device in devices.values %}
							<tr>
							<td class="align-middle">
								{% if device.is_active %}
									<span class="badge bg-success">{% trans "Active" %}</span>
								{% else %}
									<span class="badge bg-danger">{% trans "Inactive" %}</span>
								{% endif %}
							</td>
							<td class="align-middle">{{ device.name }}</td>
							<td class="align-middle">{{ device.address }}</td>
							<td class="align-middle">{{ device.port }}</td>
							<td class="align-middle">
								{% for name in device.services %}
									<span class="badge bg-info text-dark">{{ name }}</span>
								{% endfor %}
							</td>
							<td class="align-middle">
								{% if device.pk %}
									<a class="btn btn-danger btn-sm" href="{% url 'server-delete' server.pk %}">
										<i class="bi bi-trash"></i>
									</a>
								{% else %}
									<a class="btn btn-primary btn-sm" href="#">
										<i class="bi bi-plus"></i>
									</a>
								{% endif %}
							</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
